 body 
 {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    background-image: url('http://test.thomas-j-ekman.net/img/background.png');
    height: 1000px;
    margin-top: 100px;
}

#container
{
    /*
    max-width : 1024px;
    max-height : 300px;
    margin-left : 100px;
    margin-top : 100px;
    font-family: 'Play', sans-serif;
    font-size: 16px;*/
    /*background-color: antiquewhite;*/
}
.container-fluid
{
    
}

#topfont
{
    font-family: 'Lobster', serif;
    font-size: 30px;
    color: black;
}

.navbar-inverse
{
    background-color: green;
    color: white;
}

.navbar-inverse .navbar-nav>li>a
{
    color: white;
}

/* used by index.html to scale the image down */
#selfie
{
    width: 200px;
}

/* headers */
h1,h2,h3,h4,h5,h6
{
    margin-top: 0.5em;
    font-family: 'Lobster', cursive;
    color: green;
}
h1 
{
    font-size : 32px;
}
h2 
{
    font-size: 28px;
}
h3 
{
    font-size: 24px;
}
h4 
{
    font-size: 20px;
}
