 body 
 {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    background-image: url('https://thomas-j-ekman.net/img/background.png');
    height: 1000px;
    margin-top: 100px;
}

#topfont
{
    font-family: 'Lobster', serif;
    font-size: 30px;
    color: black;
}

.navbar-inverse
{
    background-color: green;
    color: white;
}

/*
.navbar-inverse .navbar-nav>li>a
{
    background-color: green;
    color: white;
}
*/
/* unvisited link */
.navbar-inverse .navbar-nav>li>a:link {
    color: white;
    font-weight: normal;
}

/* visited link */
.navbar-inverse .navbar-nav>li>a:visited {
    color: white;
    font-weight: normal;
}

/* mouse over link */
.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
    background-color: #00a000;
    font-weight: bold;
}
/* selected link */
.navbar-inverse .navbar-nav>li>a:active {
    color: white;
    font-weight: normal;
}

/* used by index.html to scale the selfie down */
#selfie
{
    width: 200px;
}

/* headers */
h1,h2,h3,h4,h5,h6
{
    margin-top: 0.5em;
    font-family: 'Lobster', cursive;
    color: green;
}
h1 
{
    font-size : 32px;
}
h2 
{
    font-size: 28px;
}
h3 
{
    font-size: 24px;
}
h4 
{
    font-size: 20px;
}
