<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Add www" patternSyntax="Wildcard" stopProcessing="false">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="www.thomas-j-ekman.net" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.thomas-j-ekman.net/{R:1}" />
                </rule>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
